{% extends 'base_2.html.twig' %}

{% block title %}Type{% endblock %}
{% block stylesheets %}
<link href="{{ asset('assets/css/card.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="centrer">
        <div class="card-detail">
            <h2>
                Type
                <br>
                Information
            </h2>
            <hr>
            <h3>
                Titre: {{ type.libelle }}
            </h3>
            <p>
                <span class="prefix">Id:</span>
                {{ type.id }}
                <br>
                <span class="prefix">Statut:</span>
                {{ type.statut ? 'Actif':'Inactif' }}
                <br>
                <span class="prefix">Créé le:</span>
                {{ type.createdAt|date('Y-m-d') }}
                <br>
                <span class="prefix">Modifié:</span>
                {{ type.modifiedAt|date('Y-m-d') }}
                <br>
            </p>
        </div>
    </div>

    <div class="float-right">
        <div class="row">
            <div class="col">
                <a href="{{ path('app_type_index') }}" class="btn btn-sm btn-primary">Revenir</a>
            </div>
            <div class="col">
                <a href="{{ path('app_type_edit', {'id': type.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
            </div>
        </div>
    </div>
{% endblock %}
