{% extends 'base_2.html.twig' %}

{% block title %}New Image{% endblock %}

{% block body %}
    <div class="needs-validation">
        {{ form_start(formImage) }}
        <div class="card">
            <div class="card-header">
                <h4>Nouvelle image</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Titre</label>
                    {{ form_widget(formImage.nom) }}
                    <div class="invalid-feedback">
                        Please fill in the title
                    </div>
                </div>
                <div class="form-group">
                    <label>Alt</label>
                    {{ form_widget(formImage.alt) }}
                </div>
                <div class="form-group">
                    {{ form_widget(formImage.Uploadfile) }}
                </div>
            </div>
            <div class="card-footer">
                            {{ form_widget(formImage.Enregistrer, {'attr':{'class':'btn btn-primary'} }) }}
            </div>
        </div>
        {{ form_end(formImage) }}
        <div class="float-right">
            <a href="{{ path('app_image_index') }}" class="btn btn-primary">back to list</a>
        </div>
    </div>
    </div>
{% endblock %}