{% extends 'base_2.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <div class="float-right">
                <div class="btn-group">
                    <div class="dropdown">
                    </div>
                </div>
            </div>
            <h4>commentaires</h4>
        </div>
        <div class="card-body">
            {% for commentaire in commentaires %}
                <div id="lg-custom">
                    <div class="list-group">
                        <a href="{{ path('app_commentaire_show',{'id':commentaire.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ commentaire.nom }}  {{ commentaire.prenom }}</h5>
                                <small>{{ commentaire.HeurePost ? commentaire.HeurePost|date('m:s') : '' }}</small>
                            </div>
                            <p class="mb-1">{{ commentaire.commentaire }}</p>
                            <small>{{ commentaire.email }}</small>
                        </a>
                <br>
                        {% else %}
                            <h5>no records found</h5>
                    </div>
                </div>
            {% endfor %}
            {% if isPaginated is defined and isPaginated %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page != 1 %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('app_commentaire_index',{page: page - 1, nbre: nbre}) }}">Previous</a>
                            </li>
                        {% endif %}
                        {% for i in range(1, nbrePage) %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('app_commentaire_index',{page: i, nbre: nbre}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        {% if page != nbrePage %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('app_commentaire_index',{page: page + 1, nbre: nbre}) }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}